/*selector universal*/
*{
    padding: 0;
    margin: 0;
}

body{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://i.pinimg.com/236x/37/34/41/37344166919b3cb7225c3696dc7db6fc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

section{

    position: relative;
    max-width: 400px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(55px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
    
}

h1{

    font-size: 2rem;
    color: #fff;
    text-align: center;

}

h3{

    font-size: 1rem;
    color: #fff;
    text-align: center;

}

h4{

    font-size: 1rem;
    color: #fff;
    text-align: center;

}

ul{
    
    text-align: center;
    padding: 10px;


}

li{

    display:inline;
    padding: 10px,30px;
    margin: 3em;

}

li  a:hover{
    color: rgb(3, 12, 1);
    text-decoration:none;
    list-style: none;
}

a{

    font-size: 1rem;
    color: #6b8185;
    text-align: center;

}